In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%pwd

'/content'

In [ ]:
cr=pd.read_pickle('/content/drive/MyDrive/L1/Notebooks/dataset/clustering_result(0_1).pkl')
cr

      CUSTNO  AGEGROUP  GENDER  ...  USE_COMP  MEMBERSHIP  labels
0          2         9       0  ...         1           0       3
1          6         9       1  ...         0           0       3
2          7         9       1  ...         1           0       3
3         11         9       0  ...         1           1       3
4         16         9       1  ...         1           0       3
...      ...       ...     ...  ...       ...         ...     ...
8466   19362         6       1  ...         1           0       1
8467   19363         6       1  ...         1           0       4
8468   19365         3       0  ...         0           0       0
8469   19369         6       1  ...         0           1       2
8470   19375         2       1  ...         1           0       4

[8471 rows x 10 columns]

In [ ]:
fsd

        CUSTNO RECEIPTNO  PURCHDATE  ...  14purchase 15purchase  spent_less
0            1  02857006 2014-10-05  ...      342400          0           0
1            1  02857007 2014-10-05  ...       78000          0           0
2            1  02857020 2014-10-05  ...      500000          0           0
3            1  02947490 2014-10-19  ...      314640          0           0
4            1  02947512 2014-10-19  ...      406980          0           0
...        ...       ...        ...  ...         ...        ...         ...
337918   19373  02844688 2014-10-03  ...       69000          0           0
337919   19373  05366898 2015-10-25  ...           0      29000           0
337920   19373  05242502 2015-10-04  ...           0      69900           0
337921   19375  07268767 2014-11-14  ...       12800          0           1
337922   19375  05520208 2015-11-18  ...           0      49900           1

[337923 rows x 22 columns]

In [ ]:
h=pd.read_pickle('/content/drive/MyDrive/L1/Notebooks/dataset/full_data_with_label_FINAL.pkl')
h

       CUSTNO RECEIPTNO  PURCHDATE  ...  AFFIL_CLASS_2       cloth_cat      hobby_cat
0       00001  02857006 2014-10-05  ...          A0506       cloth_men  uncategorized
1       00001  02857007 2014-10-05  ...          A0506       cloth_men  uncategorized
2       00001  02857020 2014-10-05  ...          A0501       cloth_men  uncategorized
3       00001  02947490 2014-10-19  ...          A0402    cloth_casual  uncategorized
4       00001  02947512 2014-10-19  ...          A0503       cloth_etc  uncategorized
...       ...       ...        ...  ...            ...             ...            ...
339012  19373  02844688 2014-10-03  ...          A0402    cloth_casual  uncategorized
339013  19373  05366898 2015-10-25  ...          A0402    cloth_casual  uncategorized
339014  19373  05242502 2015-10-04  ...          A0402    cloth_casual  uncategorized
339015  19375  07268767 2014-11-14  ...          B3304  cloth_lingerie  uncategorized
339016  19375  05520208 2015-11-18  ...          A0402    cloth_casual  uncategorized

[339017 rows x 19 columns]

In [ ]:
h

        RECEIPTNO
CUSTNO
00001          45
00002          39
00004          18
00006          39
00007          30
...           ...
19369          17
19371           1
19372          46
19373           6
19375           2

[16599 rows x 1 columns]

In [ ]:
fsd=pd.read_pickle('/content/drive/MyDrive/L1/Notebooks/dataset/full_data_with_label_FINAL.pkl')
fsd

       CUSTNO RECEIPTNO  PURCHDATE  ...  AFFIL_CLASS_2       cloth_cat      hobby_cat
0       00001  02857006 2014-10-05  ...          A0506       cloth_men  uncategorized
1       00001  02857007 2014-10-05  ...          A0506       cloth_men  uncategorized
2       00001  02857020 2014-10-05  ...          A0501       cloth_men  uncategorized
3       00001  02947490 2014-10-19  ...          A0402    cloth_casual  uncategorized
4       00001  02947512 2014-10-19  ...          A0503       cloth_etc  uncategorized
...       ...       ...        ...  ...            ...             ...            ...
339012  19373  02844688 2014-10-03  ...          A0402    cloth_casual  uncategorized
339013  19373  05366898 2015-10-25  ...          A0402    cloth_casual  uncategorized
339014  19373  05242502 2015-10-04  ...          A0402    cloth_casual  uncategorized
339015  19375  07268767 2014-11-14  ...          B3304  cloth_lingerie  uncategorized
339016  19375  05520208 2015-11-18  ...          A0402    cloth_casual  uncategorized

[339017 rows x 19 columns]

In [ ]:
fsd14=fsd[(fsd.Year==2014) & (fsd.spent_less==1)][['CUSTNO','Year','PURCHAMOUNT']]
fsd15=fsd[(fsd.Year==2015) & (fsd.spent_less==1)][['CUSTNO','Year','PURCHAMOUNT']]

aggregations={'Year':'count','PURCHAMOUNT':'sum'}
fsd14_g=fsd14.groupby('CUSTNO').agg(aggregations)
fsd15_g=fsd15.groupby('CUSTNO').agg(aggregations)

fsd_merge=pd.merge(fsd14_g,fsd15_g,how='left',on='CUSTNO')
fsd_merge['PURCHAMOUNT_y'].fillna(0,inplace=True)
# fsd_merge['PURCHAMOUNT_diff']=fsd_merge['PURCHAMOUNT_y']-fsd_merge['PURCHAMOUNT_x']
# fsd_merge.drop(['Year_x','PURCHAMOUNT_x','Year_y','PURCHAMOUNT_y'],axis=1,inplace=True)
fsd_merge

        Year_x  PURCHAMOUNT_x  Year_y  PURCHAMOUNT_y
CUSTNO
2           22        6558370    17.0      6926570.0
6           11         606500    28.0      1822200.0
7           18        6800170    12.0     12897400.0
11           7        2192210     7.0      4535240.0
16           3         130000     2.0       298000.0
...        ...            ...     ...            ...
19362       20        1819600    20.0      3030160.0
19363        1          10000     1.0        27700.0
19365        8         135900    10.0       617220.0
19369        7         242200    10.0       385700.0
19375        1          12800     1.0        49900.0

[7635 rows x 4 columns]

In [ ]:
fsd_merge.isnull().sum()

Year_x            0
PURCHAMOUNT_x     0
Year_y           88
PURCHAMOUNT_y    88
dtype: int64

In [ ]:
fsd=pd.read_pickle('/content/drive/MyDrive/L1/Notebooks/dataset/final_data_set.pkl')
fsd

        CUSTNO RECEIPTNO  PURCHDATE  ...  14purchase 15purchase  spent_less
0            1  02857006 2014-10-05  ...      342400          0           0
1            1  02857007 2014-10-05  ...       78000          0           0
2            1  02857020 2014-10-05  ...      500000          0           0
3            1  02947490 2014-10-19  ...      314640          0           0
4            1  02947512 2014-10-19  ...      406980          0           0
...        ...       ...        ...  ...         ...        ...         ...
337918   19373  02844688 2014-10-03  ...       69000          0           0
337919   19373  05366898 2015-10-25  ...           0      29000           0
337920   19373  05242502 2015-10-04  ...           0      69900           0
337921   19375  07268767 2014-11-14  ...       12800          0           1
337922   19375  05520208 2015-11-18  ...           0      49900           1

[337923 rows x 22 columns]

In [ ]:
f=fsd[['CUSTNO','RECEIPTNO']]
f.groupby('CUSTNO').count()

        RECEIPTNO
CUSTNO
1              45
2              39
4              18
6              39
7              30
...           ...
19369          17
19371           1
19372          46
19373           6
19375           2

[16295 rows x 1 columns]

In [ ]:
fsd14=fsd[(fsd.Year==2014) & (fsd.spent_less==0)][['CUSTNO','Year','PURCHAMOUNT']]
fsd15=fsd[(fsd.Year==2015) & (fsd.spent_less==0)][['CUSTNO','Year','PURCHAMOUNT']]

aggregations={'Year':'count','PURCHAMOUNT':'sum'}
fsd14_g=fsd14.groupby('CUSTNO').agg(aggregations)
fsd15_g=fsd15.groupby('CUSTNO').agg(aggregations)

fsd_merge=pd.merge(fsd14_g,fsd15_g,how='left',on='CUSTNO')
fsd_merge['PURCHAMOUNT_y'].fillna(0,inplace=True)
# fsd_merge['PURCHAMOUNT_diff']=fsd_merge['PURCHAMOUNT_y']-fsd_merge['PURCHAMOUNT_x']
# fsd_merge.drop(['Year_x','PURCHAMOUNT_x','Year_y','PURCHAMOUNT_y'],axis=1,inplace=True)

mask=(fsd_merge['PURCHAMOUNT_x'])<(fsd_merge['PURCHAMOUNT_y'])

fsd_merge[mask]

        Year_x  PURCHAMOUNT_x  Year_y  PURCHAMOUNT_y
CUSTNO
8            4         280800     4.0       286000.0
76           6         213900     5.0       466500.0
84           3         428450     8.0       610900.0
97          10        9039550    12.0      9587520.0
127          2          27000     2.0        65000.0
...        ...            ...     ...            ...
19071        3         252050     8.0       752640.0
19125        3          78020     3.0        81300.0
19139       20         270470    11.0       296600.0
19185        5         335700     9.0       416100.0
19249        2          13800     1.0        25000.0

[726 rows x 4 columns]

In [ ]:
mask=(fsd.spent_less_x) != (fsd.spent_less)
fsd[mask]

Empty DataFrame
Columns: [CUSTNO, RECEIPTNO, PURCHDATE, PURCHTIME, AFFIL, CLASSCODEL, CLASSCODEM, CLASSCODES, STORENO, GENDER, AGEGROUP, RESIDENCE, PURCHAMOUNT, Year, AFFIL_CLASS, spent_less_x, AFFIL_CLASS_2, cloth_cat, hobby_cat, 14purchase, 15purchase, spent_less]
Index: []